<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="InfoCarrier.Core" Description=" " ToolsVersion="14.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE1005" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1117" Action="Warning" />
    <Rule Id="SA1118" Action="Info" />
    <Rule Id="SA1202" Action="Info" />
    <Rule Id="SA1204" Action="Info" />
    <Rule Id="SA1214" Action="Info" />
    <Rule Id="SA1215" Action="Info" />
  </Rules>
</RuleSet>
