@page "/"
@inject Model Model;

<h1>InfoCarrier.Core</h1>

<p>This component demonstrates Entity Framework Core working inside your browser.</p>

@if (Model.Output == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@Model.Output</p>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        Model.Output = "dummy output";
    }
}
